build/
*.swp
*.swo
*~
.DS_Store
.vscode/
.idea/
*.fnt
*.bin
!/main/terminus28.fnt
!/main/terminus24.fnt
!/main/terminus22.fnt
!/main/terminus20.fnt
!/main/terminus16.fnt
!/main/fontlibrary18.fnt
*.pre-fill
*.pre-fill[0-9]*
managed_components/
__pycache__/
